<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %> </title>
</head>
<body>
    <% include ../layout %> 
    <div class="container">
       <h1><%= title %> </h1> 
       <div class="py-2">
            <a href="/blogs/add" class="btn btn-primary">เขียนบทความ</a>
        </div>
       <div class="content">
           <% Object.values(blogs).forEach(blog => { %>
           <div class="box-content">
            <h4><b>บทความ: </b><%= blog.title %> </h4>
            <p><b>หมวดหมู่: </b><%= blog.category %> </p>
            <p><b>ผู้เขียน: </b><%= blog.author %> </p>
            <a href="/blogs/edit/<%= blog._id %> " >แก้ไข</a>
            <a href="/blogs/delete/<%= blog._id %> " onclick=" return confirm('ต้องการลบหรือไม่')">ลบ</a>
           </div>
           <% }) %>
       </div>
       <div class="py-2">
           <a href="/blogs/add" class="btn btn-primary">เขียนบทความ</a>
       </div>
    </div>
</body>
</html>